/*about-us container*/

.about-us {
    display: flex;
    justify-content: center;
}

.about-us-wrapper {
    margin-bottom: 15em;
    position: relative;
}

.about-us-wrapper > #about-us-1, .about-us-wrapper > #about-us-2 {
    height: 280px;
    width: 340px;
    position: absolute;
}

.about-us-wrapper > #about-us-1 {
    top: 60%;
    right: 80%;
}

.about-us-wrapper > #about-us-2 {
    left: 80%;
    bottom: 50%;
}

/*about-us header and paragraph text*/

.about-us-wrapper > h1, .about-us-wrapper .paragraphs-container > p {
    text-align: center;
    font-weight: 400;
    color: #1d071989;
    word-spacing: 1.2px;
    text-shadow: 0px 1px 1px rgba(99, 99, 99, 0.7);
}


.about-us-wrapper > h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    margin-bottom: 0.5em;
}

.about-us-wrapper > hr {
    width: 30em;
    margin-bottom: 2em;
}

.about-us-wrapper .paragraphs-container {
    margin-top: 2em;
}

.about-us-wrapper .paragraphs-container > p {
    width: 60em;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}