.about-us {
    display: flex;
    justify-content: center;
    margin: 4em 0 8em 0;
}

.about-us-wrapper {
    position: relative;
}

.about-us-wrapper > #about-us-1, .about-us-wrapper > #about-us-2 {
    height: 280px;
    width: 300px;
    position: absolute;
}

.about-us-wrapper > #about-us-1 {
    top: 65%;
    right: 65%;
}

.about-us-wrapper > #about-us-2 {
    left: 65%;
    bottom: 60%;
}

.about-us-wrapper > h1, .about-us-wrapper .paragraphs-container > p {
    text-align: center;
    font-weight: 400;
    color: #1d071989;
    word-spacing: 1.2px;
    text-shadow: 0px 1px 1px rgba(99, 99, 99, 0.7);
}


.about-us-wrapper > h1 {
    font-size: 2.5em;
    width: fit-content;
    justify-self: center;
    border-bottom: 1px solid #1d071989;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
}

.about-us-wrapper .paragraphs-container {
    margin-top: 2em;
}

.about-us-wrapper .paragraphs-container > p {
    justify-self: center;
    width: 50%;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}

@media (max-width: 1250px)  {
    .about-us-wrapper .paragraphs-container > p {
        width: 60%;
        font-size: 1em;
    }

    .about-us-wrapper > #about-us-1, .about-us-wrapper > #about-us-2 {
        height: 180px;
        width: 220px;
    }

    .about-us-wrapper > #about-us-1 {
        top: 80%;
        right: 68%;
    }

    .about-us-wrapper > #about-us-2 {
        left: 70%;
        bottom: 72%;
    }
}

@media (max-width: 980px) {
    .about-us-wrapper > h1 {
        font-size: 1.8em;
    }

    .about-us-wrapper .paragraphs-container > p {
        font-size: 0.9em;
    }

    .about-us-wrapper > #about-us-1, .about-us-wrapper > #about-us-2 {
        height: 150px;
        width: 190px;
    }
}

@media (max-width: 860px) {
    .about-us-wrapper > h1 {
        font-size: 1.6em;
    }

    .about-us-wrapper .paragraphs-container > p {
        width: 55%;
        font-size: 0.8em;
    }

    .about-us-wrapper > #about-us-1, .about-us-wrapper > #about-us-2 {
        height: 120px;
        width: 120px;
    }

    .about-us-wrapper > #about-us-1 {
        top: 85%;
        right: 70%;
    }

    .about-us-wrapper > #about-us-2 {
        left: 72%;
        bottom: 72%;
    }
}

@media (max-width: 680px) {
    .about-us {
        margin: 0;
    }

    .about-us-wrapper > h1 {
        font-size: 1.45em;
    }

    .about-us-wrapper .paragraphs-container > p {
        font-size: 0.7em;
    }

    .about-us-wrapper > #about-us-1, .about-us-wrapper > #about-us-2 {
        height: 90px;
        width: 90px;
    }

    .about-us-wrapper > #about-us-2 {
        left: 70%;
        bottom: 80%;
    }
}

@media (max-width: 540px) {
    .about-us-wrapper > h1 {
        font-size: 1.3em;
    }

    .about-us-wrapper .paragraphs-container > p {
        font-size: 0.6em;
    }

    .about-us-wrapper > #about-us-1, .about-us-wrapper > #about-us-2 {
        height: 80px;
        width: 80px;
    }

    .about-us-wrapper > #about-us-2 {
        left: 72%;
        bottom: 85%;
    }
}

@media (max-width: 480px) {
    .about-us-wrapper .paragraphs-container > p {
        font-size: 0.6em;
    }

    .about-us-wrapper > #about-us-2 {
        left: 75%;
        bottom: 85%;
    }
}

@media (max-width: 350px) {
    .about-us-wrapper > h1 {
        font-size: 1.1em;
    }

    .about-us-wrapper .paragraphs-container > p {
        font-size: 0.5em;
        width: 90%;
    }

    .about-us-wrapper > #about-us-1, .about-us-wrapper > #about-us-2 {
        display: none;
    }
}