/*booking container*/

.hair-booking {
    display: grid;
    justify-content: center;
    margin-bottom: 10em;
}

/*booking header, label, paragraph and button text*/

.hair-booking h1, .booking-wrap > div > label, .booking-wrap p, .submit > a {
    text-transform: uppercase;
    color: #1d071989;
    letter-spacing: 2.2px;
    word-spacing: 1.2px;
    text-shadow: 0px 1px 1px rgba(99, 99, 99, 0.7);
}


.hair-booking h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.hair-booking hr {
    width: 14.5em;
    margin-bottom: 4em;
}

/*booking-wrapper width and text elements*/
.booking-wrap {
    width: 75em;
}

.booking-wrap p {
    font-size: 1.05em;
    margin-bottom: 2em;
}

.booking-wrap > div {
    margin-bottom: 2.5em;
}

/*setting the asterisks of every label to red color.*/

.name-Booking > label:after, .email-Booking > label:after, .phone-Booking > label:after,
.date-Booking > label:after, .service-Booking > label:after {
    content: "*";
    color: red;
}

/* booking of label, textarea, select and button*/

.booking-wrap > div > label, .booking-wrap > div > textarea {
    font-size: 1.2em;
}

.booking-wrap > div > input, .booking-wrap > div > textarea, .booking-wrap > div > select, 
.open-booking-service, .service-list > li > button
{
    font-size: 1em;
    letter-spacing: 2.2px;
    word-spacing: 1.2px;
    color: #1d071989;
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    border: 1px solid #cccccc;
    text-shadow: 0px -1px 1px rgb(164, 159, 159);
}

.booking-wrap > div > textarea {
    height: 10em;
    resize: none;
    width: 100.2%;
    font-size: 1.3em;
}

.booking-wrap > div > select, .open-booking-service {
    width: 103%;
    text-transform: uppercase;
    cursor: pointer;
    appearance: none;
}

textarea:focus, input:focus, select:focus {
    outline:none;
}

/*service booking checker creating and styling*/

.open-booking-service {
    text-align: left;
    background-color: white;
}

.service-list {
    max-height: 0px;
    list-style: none;
    overflow: hidden;
    background-color: white;
    padding-left: 0;
    margin-left: 2em;
    transition: 0.5s ease-in-out;
}

.hidden {
    max-height: 200px;
}

.service-list > li > button {
    text-align: left;
    background-color: white;
    text-transform: uppercase;
    margin: 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.service-list > li > button:hover {
    background-color: rgb(144, 137, 137);
}

/*booking submit button*/

.submit {
    background: hsl(337, 13%, 27%);
    border-radius: 12px;
    padding: 0;
    margin-top: 1em;
    position: relative;
    left: 44%;
}

.submit > a {
    display: block;
    background: hsl(353, 5%, 71%);
    border-radius: 12px;
    color: #1d071989;
    font-size: 1.8em;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    transform: translate(-4px, -4px);
    padding: 1em;
}

.submit > a:hover {
    transform: translate(-4%, -12%);
    filter: saturate(180%);
}