.hair-booking {
    display: grid;
    justify-content: center;
    background-color: rgb(209, 203, 203);
    margin-bottom: -8em;
}

.hair-booking > h1, .booking-wrap * label, .booking-submit > a {
    text-transform: uppercase;
    color: #1d071989;
    letter-spacing: 2.2px;
    word-spacing: 1.2px;
    text-shadow: 0px 1px 1px rgba(99, 99, 99, 0.7);
}


.hair-booking > h1 {
    width: fit-content;
    font-size: 2.5em;
    font-weight: 400;
    border-bottom: 1px solid #1d071989;
    margin: 2em 0 1em 0;
    padding-bottom: 0.5em;
    justify-self: center;
}

.booking-wrap {
    display: grid;
    grid-gap: 2em;
}

.booking-wrap > div {
    width: 900px;
}

.booking-wrap * label:not(.booking-message-label)::after {
    content: "*";
    color: red;
}

.booking-wrap * label, .booking-textarea {
    font-size: 1.2em;
}

.booking-input, .datePicker, .booking-textarea, 
.open-booking-service, .service-list * button
{
    width: 100%;
    font-size: 1em;
    text-indent: 1em;
    color: #1d071989;
    margin-top: 1em;
    padding: 1em 0 1em 0;
    border: 1px solid #cccccc;
    text-shadow: 0px 0px 1px rgb(111, 105, 105);
}

.datePicker {
    cursor: pointer;
    text-indent: 0.6em;
}

.booking-textarea {
    height: 200px;
    resize: none;
    font-size: 1.3em;
}

.booking-wrap * select, .open-booking-service, .service-list button {
    text-transform: uppercase;
    cursor: pointer;
    appearance: none;
}


.open-booking-service {
    text-align: left;
    background-color: white;
}

.service-list {
    max-height: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.service-list.hidden {
    max-height: 200px;
}

.service-list button {
    text-align: left;
    margin: 0;
    transition: 0.2s ease-in-out;
}

.service-list button:hover {
    background-color: rgb(144, 137, 137);
}

.booking-submit {
    background: hsl(337, 13%, 27%);
    border-radius: 12px;
    margin: 2em;
    justify-self: center;
}

.booking-submit > a {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    background: hsl(353, 5%, 71%);
    border-radius: 12px;
    color: #1d071989;
    font-size: 1.4em;
    text-decoration: none;
    padding: 1.1em;
    transition: 0.4s ease-in-out;
    transform: translate(-4px, -4px);
}

.booking-submit > a:hover {
    transform: translate(-4%, -12%);
    filter: saturate(180%);
}

@media (max-width: 980px) {
    .hair-booking {
        padding-bottom: 5em;
    }

    .booking-wrap {
        grid-template-columns: 1fr;
    }

    .hair-booking > h1 {
        font-size: 2em;
    }

    .booking-wrap > div {
        width: 600px;
    }

    .booking-input, .open-booking-service, .service-list * button  {
        font-size: 0.85em;
    }

    .booking-textarea, .booking-wrap * label {
        font-size: 1.1em;
    }

    .booking-submit > a {
        font-size: 1.2em;
    }
}

@media (max-width: 860px) {
    .hair-booking > h1 {
        font-size: 1.6em;
    }

    .booking-wrap > div {
        width: 500px;
    }

    .booking-input, .open-booking-service, .service-list * button  {
        font-size: 0.8em;
    }

    .booking-submit > a {
        font-size: 1.1em;
    }
}

@media (max-width: 680px) {
    .hair-booking > h1 {
        font-size: 1.45em;
    }

    .booking-wrap > div {
        width: 400px;
    }

    .booking-input, .open-booking-service, .service-list * button  {
        font-size: 0.7em;
    }

    .booking-textarea, .booking-wrap * label {
        font-size: 1em;
    }

    .booking-submit > a {
        font-size: 1em;
    }
    
    .datePicker {
        font-size: 0.8em;
    }
}


@media (max-width: 540px) {
    .hair-booking {
        padding-bottom: 0em;
    }

    .hair-booking {
        margin-bottom: -4em;
    }

    .booking-wrap > div {
        width: 300px;
    }

    .booking-input, .open-booking-service, .service-list * button  {
        font-size: 0.6em;
    }

    .booking-textarea, .booking-wrap * label {
        font-size: 0.9em;
    }

    .booking-submit > a {
        font-size: 0.9em;
    }
    
    .datePicker {
        font-size: 0.7em;
    }
}

@media (max-width: 350px) {
    .booking-wrap {
        justify-items: center;
        gap: 1em;
    }

    .hair-booking > h1 {
        font-size: 0.9em;
    }

    .booking-wrap > div {
        width: 150px;
    }

    .booking-input, .open-booking-service, .service-list * button  {
        font-size: 0.4em;
    }

    .booking-textarea, .booking-wrap * label {
        font-size: 0.5em;
    }

    .booking-submit > a {
        font-size: 0.7em;
    }

    .booking-textarea {
        height: 100px;
    }
    
    .datePicker {
        font-size: 0.5em;
    }
}