textarea:focus, input:focus, select:focus {
    outline:none;
}


.hair-booking {
    width: 62.5%;
    display: grid;
    justify-content: center;
    position: relative;
    left: 18%;
    margin-bottom: 18em;
}

.hair-booking h1, .booking-wrap > div > label, .booking-wrap p, .booking-wrap > button > a {
    text-transform: uppercase;
    color: #1d071989;
    letter-spacing: 2.2px;
    word-spacing: 1.2px;
}

.hair-booking h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.hair-booking hr {
    width: 14.5em;
    margin-bottom: 4em;
}

.booking-wrap {
    width: 75em;
}

.booking-wrap p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.booking-wrap > div {
    margin-bottom: 2.5em;
}

.name-Booking > label:after, .email-Booking > label:after, .phone-Booking > label:after, 
.date-Booking > label:after, .service-Booking > label:after {
    content: "*";
    color: red;
}

.booking-wrap > div > label, .booking-wrap > div > textarea {
    font-size: 1.4em;
}

.booking-wrap > div > input, .booking-wrap > div > textarea, .booking-wrap > div > select {
    width: 100%;
    margin-top: 1em;
    color: #1d071989;
    font-size: 1em;
    letter-spacing: 2.2px;
    word-spacing: 1.2px;
    padding: 1em;
    border: 1px solid #cccccc;
}

.booking-wrap > div > textarea {
    height: 10em;
    resize: none;
    width: 100.4%;
    font-size: 1.2em;
}

.booking-wrap > div > select {
    text-transform: uppercase;
    width: 103%;
    cursor: pointer;
    appearance: none;
}

.booking-wrap > button {
    display: block;
    height: 4em;
    border-radius: 7%;
    border: 1px solid #092635;
    margin-top: 1em;
}

.booking-wrap > button > a {
    color: #1d071989;
    text-decoration: none;
    letter-spacing: 2.2px;
    word-spacing: 1.2px;
    font-size: 1.5em;
    font-weight: 600;
    padding: 1em;
}

.service-Booking {
    position: relative;
}

.service-Booking:after {
    content: '>';
    font: 3em "Consolas", monospace;
    color: #1d071989;
    transform: rotate(90deg);
    position: absolute;
    top: 42%;
    right: -2%;
}

.submit {
    position: relative;
    left: 44%;
}   