footer {
    border-top: 1px solid rgb(134, 124, 124);
}

.footer-section {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 2.5em;
    gap: 2em;
    margin-bottom: 2em;
}

.logo > img {
    width: 350px;
    height: 350px;
}

.socials > h3, .socials > ul > li, .contact > h3, 
.contact > ul > li, .copyright  {
    color: #1d071989;
    font-weight: 400;
    text-shadow: 0px 1px 1px rgba(99, 99, 99, 0.7);
}

.socials > h3, .contact > h3 {
    text-transform: uppercase;
    font-size: 1.5em;
}

.socials > h3 {
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid #1d071989;
    padding-bottom: 0.5em;
}

.socials > ul, .contact > ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1em;
}

.socials > ul > li, .contact > ul > li, .copyright  {
    font-size: 1.1em;
}

.facebook {
    color: #316FF6;
    transition: 0.8s ease-in-out;
}

.instagram-anchor {
    display: flex;
    gap: 0.25em;
}

.instagram {
    font-size: 1.4em;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.8s ease-in-out;
}

.twitter {
    color: white;
    background-color: black;
    transition: 0.8s ease-in-out;
}

.facebook:hover, .instagram:hover, .twitter:hover {
   transform: rotate(360deg);
}


.contact > h3 {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #1d071989;
}

.house, .envelope, .phone {
    color: black;
}

.copyright {
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom:1px solid #1d071989
}

@media (max-width: 680px) {
    .socials > h3, .contact > h3 {
        font-size: 1.2em;
    }

    .socials > ul > li, .contact > ul > li, .copyright  {
        font-size: 0.95em;
    }
}

@media (max-width: 350px) {
    .logo > img {
        width: 120px;
        height: 120px;
    }

    .socials > h3, .contact > h3 {
        font-size: 0.9em;
    }

    .socials > ul > li, .contact > ul > li, .copyright  {
        font-size: 0.5em;
    }
}