.nav-display {
    width: 100%;
    height: 60px;
    background-color: rgb(57, 56, 59);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 1px 2px rgb(8, 8, 8);
}

.nav-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav-hidden {
    transform: translateY(-60px);
}

.nav-logo > img {
    height: 30px;
}

.nav-list > li > a, .nav-services > span, .services-selector > li {
    font-size: 1.55em;
    color: #d6d4d3;
    text-shadow: 3px 2px 1px rgb(25, 24, 24);
}

.nav-list > li {
    margin: auto;
}

.list-toggle, .mobile-logo {
    display: none;
}

.list-toggle::before {
    content: "☰";
    font-size: 2em;
}

.list-toggle.active::before {
    content: "✖";
}

@media (max-width: 1250px) {
    .list-toggle {
        display: block;
        justify-self: center;
        padding: 0.5em 3em;
        margin: 1.5em;
        border-radius: 8px;
        background-color: rgb(57, 56, 59);
    }

    .mobile-logo {
        display: block;
        justify-self: center;
        padding: 1.2em;
    }

    .mobile-logo > img {
        height: 30px;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        gap: 1.9em;
        padding: 1.8em 0 1.8em 0;
        box-shadow: 0px 0px 2px rgb(8, 8, 8);
    }

    .nav-list > li:is(.nav-logo) {
        display: none;
    }

    .nav-list > li:not(.nav-logo) {
        transition: 1s ease-in-out;
    }

    .nav-list > li:not(.nav-logo):hover {
        border-bottom: 1px solid #000000;
    }

    .nav-display {
        height: fit-content;
    }

    .nav-hidden {
        transform: translateY(0px);
    }
}

@media (max-width: 860px) {
    .nav-list > li > a, .nav-services > span, .services-selector > li {
        font-size: 1.2em;
    }

    .nav-list {
        gap: 1.3em;
    }
}

@media (max-width: 680px) {
    .nav-list > li > a, .nav-services > span, .services-selector > li {
        font-size: 0.9em;
    }

    .list-toggle {
        padding: 0.5em 2em;
    }

    .list-toggle::before {
        font-size: 1.2em;
    }

    .nav-list {
        gap: 1.1em;
        padding: 1em;
    }
}

@media (max-width: 540px) {
    .nav-list > li > a, .nav-services > span, .services-selector > li {
        font-size: 0.75em;
    }
}