/*Newsletter container*/

.newsletter {
    background-image: url("/pictures_document/products.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    margin-bottom: 14em;
}

.newsletter > * {
    font-weight: 400;
    color: #28323ce5;
    letter-spacing: 2.2px;
    word-spacing: 1.2px;
    text-align: center;
    text-shadow: 0px 0px 1px rgb(111, 105, 105);
    position: relative;
}

.newsletter > h2 {
    width: 900px;
    font-size: 2.7em;
    margin-bottom: 4em;
    top: 50%;
}

.newsletter > p {
    width: 750px;
    font-size: 1.5em;
    left: 8%;
}


/*news-input container*/

.news-input {
    display: grid;
    justify-content: center;
    top: 10%;
    right: 3%;
    margin-bottom: 6em;
}

/*Input container*/

.custom_input {
	display: flex;
	align-items: center;
	position: relative;
    margin-bottom: 2.5em;
}

.input {
    font-size: 1.3em;
    border: none;
    border-radius: 12px;
    padding: 10px 0 8px 36px;
    margin-left: 1.5em;
    transition: .3s ease;
}

.input:focus {
	background: #454343;
    color: hsl(348, 11%, 91%);
}

.input::placeholder {
	color: #676060;
}

.search_icon_1, .search_icon_2 {
	width: 1.2em;
	height: 1.2em;
    fill: #C9BFC2;
    position: absolute;
}

.search_icon_1 {
	left: 6%;
}

.search_icon_2 {
	left: 56.2%;
}

.submit-newspaper {
  width: max-content;
  background: hsl(337, 13%, 27%);
  border-radius: 12px;
  position: relative;
  left: 40%;
}

.submit-newspaper > a {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 1.4em;
    color: #1d071989;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 12px;
    padding:  1em 1.5em;
    background: hsl(353, 5%, 71%);
    transform: translate(-4px, -4px);
    transition: 0.4s ease-in-out;
}

.submit-newspaper > a:hover {
    filter: saturate(180%);
    transform: translate(-4%, -12%);
}