/*Newsletter container*/

.newsletter {
    background-image: url("/pictures_document/products.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
}

.newsletter > h2, .newsletter > p, .news-input > *, .news-input > button > a {
    letter-spacing: 2.2px;
    word-spacing: 1.2px;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(99, 99, 99, 0.7);
}

.newsletter > * {
    color: #28323ce5;
    position: relative;
}

.newsletter > h2, .newsletter > p {
    width: 28em;
    margin-bottom: 2em;
}

.newsletter > h2 {
    font-size: 2.5em;
    top: 15%;
}

.newsletter > p {
    font-size: 1.6em;
    left: 17%;
}


/*news-input container*/

.news-input {
    display: grid;
    justify-content: center;
}

.news-input > * {
    margin-right: 1em;
}

/*Input container*/

.custom_input {
	display: flex;
	align-items: center;
	position: relative;
    margin-bottom: 2.5em;
}

.input {
	font-size: 1.3em;
	border: none;
	border-radius: 12px;
    padding: 10px 0 8px 36px;
    margin-left: 1.5em;
    transition: .3s ease;
}

.input:focus {
	background: #454343;
}

.input::placeholder, .input:focus {
	color: #676060;
}

.search_icon_1, .search_icon_2 {
	width: 1.2em;
	height: 1.2em;
    fill: #C9BFC2;
    position: absolute;
}

.search_icon_1 {
	left: 6%;
}

.search_icon_2 {
	left: 56.2%;
}

.news-input > button {
  width: max-content;
  font-size: 1.3em;
  background: hsl(340, 6%, 21%);
  border: none;
  border-radius: 12px;
  padding: 0;
  margin-bottom: 4em;
  position: relative;
  left: 40%;
}

.news-input > button > a {
    display: block;
    color: #1d071989;
    text-decoration: none;
    background: hsl(347, 9%, 68%);
    border-radius: 12px;
    padding: 0.5em 1.5em;
    transform: translate(-4px, -4px);
    transition: 0.3s ease-in-out;
}

.news-input > button > a:hover {
    filter: saturate(200%);
    transform: translate(-4%, -12%);
}