/*Newsletter container*/

.newsletter {
    background-image: url("/pictures_document/products.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
}

.newsletter > h2, .newsletter > p, .news-input > *, .news-input > button > a {
    font-weight: 400;
    letter-spacing: 2.2px;
    word-spacing: 1.2px;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(99, 99, 99, 0.7);
}

.newsletter > * {
    color: #28323ce5;
    position: relative;
}

.newsletter > h2 {
    width: 900px;
    font-size: 2.7em;
    margin-bottom: 4em;
    top: 60%;
}

.newsletter > p {
    width: 750px;
    font-size: 1.5em;
    top: 15%;
    left: 8%;
}


/*news-input container*/

.news-input {
    display: grid;
    justify-content: center;
    top: 20%;
    right: 3%;
}

/*Input container*/

.custom_input {
	display: flex;
	align-items: center;
	position: relative;
    margin-bottom: 2.5em;
}

.news-input > button, .input {
    border-radius: 12px;
    font-size: 1.3em;
}

.input {
	border: none;
    padding: 10px 0 8px 36px;
    margin-left: 1.5em;
    transition: .3s ease;
}

.input:focus {
	background: #454343;
}

.input::placeholder {
	color: #676060;
}

.input:focus {
    color: hsl(348, 11%, 91%);
}

.search_icon_1, .search_icon_2 {
	width: 1.2em;
	height: 1.2em;
    fill: #C9BFC2;
    position: absolute;
}

.search_icon_1 {
	left: 6%;
}

.search_icon_2 {
	left: 56.2%;
}

.news-input > button {
  padding: 0;
  width: max-content;
  background: hsl(337, 13%, 27%);
  margin-bottom: 6em;
  position: relative;
  left: 40%;
}

.news-input > button > a {
    background: hsl(353, 5%, 71%);
    display: block;
    font-size: 1.1em;
    color: #1d071989;
    text-decoration: none;
    border-radius: 12px;
    padding: 0.5em 1.5em;
    transform: translate(-4px, -4px);
    transition: 0.4s ease-in-out;
}

.news-input > button > a:hover {
    filter: saturate(180%);
    transform: translate(-4%, -12%);
}