.opening {
        background: url("/pictures_document/1.jpg");
        background-size: 110% 100%;
        height: 45em;
        width: 100%;
        margin-bottom: 15em;
}

.opening-wrapper {
    position: relative;
    top: 47%;
    right: 8%;
}

.opening-wrapper > * {
    font-weight: 400;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: #ede7e7;
    text-align: center;
}

.opening-wrapper > h1 {
    margin: auto;
    font-size: 6em;
}

.opening-wrapper > h2 {
    font-size: 1.7em;
}