/*recent-posts container*/

.recent-posted {
    margin-bottom: 15em;
    display: grid;
    justify-content: center;
}

/*recent-posts header, container text and button text*/

.recent-posted h1, .posts-wrap > div *, .all-posts > a {
    text-transform: uppercase;
    color: #1d071989;
    font-weight: 600;
    letter-spacing: 2.2px;
    word-spacing: 1.2px;
    text-shadow: 0px -1px 1px rgba(99, 99, 99, 0.7);
}

.recent-posted h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

.recent-posted hr {
    width: 15.5em;
    margin-bottom: 6em;
}

/*post wrap container*/

.posts-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.posts-wrap > div {
    width: 22em;
    border: 1px solid rgb(165, 155, 148);
    border-radius: 5%;
    margin-right: 5em;
    -webkit-box-shadow: -3px 24px 56px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: -3px 24px 56px -2px rgba(0,0,0,0.5);
    box-shadow: -3px 24px 56px -2px rgba(0,0,0,0.5);
}

/*recent-post elements - image, header, paragraph and button*/

.post-1 {
    margin-left: 6em;
}

.posts-wrap > div > img {
    height: 22em;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    transition: 0.2s ease-in-out;
}

.posts-wrap > div > img:hover {
    filter: brightness(90%) contrast(120%);
}

.posts-wrap > div > h3 {
    font-size: 1.5em;
    text-align: center;
}

.posts-wrap > div > p {
    text-align: center;
    font-weight: 400;
    font-size: 1.1em;
    padding: 0.5em;
}

.posts-wrap > div > button, .all-posts {
    border: none;
    border-radius: 12px;
    background: hsl(340, 6%, 21%);
    position: relative;
    padding: 0;
}

.posts-wrap > div > button > a, .all-posts > a {
    display: block;
    background: hsl(347, 9%, 68%);
    border-radius: 12px;
    text-decoration: none;
    padding: 1.5em;
    transition: 0.4s ease-in-out;
    transform: translate(-4px, -4px);
}

.posts-wrap > div > button {
    margin-bottom: 3em;
    left: 29%;
}

.all-posts {
    width: 12%;
    margin-top: 5em;
    left: 44.5%;
}

.all-posts > a:hover, .posts-wrap > div > button > a:hover {
    transform: translate(-4%, -12%);
    filter: saturate(200%);
}