/*recent-posts container*/

.recent-posted {
    display: grid;
    justify-content: center;
    margin-bottom: 8.5em;
}

/*recent-posts header, container text and button text*/

.recent-posted h1, .posts-wrap > div *, .all-posts > a  {
    text-transform: uppercase;
    color: #1d071989;
    font-weight: 400;
    letter-spacing: 2.2px;
    word-spacing: 1.2px;
    text-shadow: 0px 1px 1px rgba(99, 99, 99, 0.7);
}

.recent-posted h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

.recent-posted hr {
    width: 15.5em;
    margin-bottom: 6em;
}

/*post wrap container*/

.posts-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.posts-wrap > div {
    width: 22em;
    border-radius: 5%;
    margin-right: 5em;
    overflow: hidden;
    box-shadow: -2px 8px 10px 0px rgba(0,0,0,0.5);
}

/*recent-post elements - image, header, paragraph and button*/

.post-1 {
    margin-left: 6em;
}

.posts-wrap > div > img {
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    transition: 0.2s ease-in-out;
}

.posts-wrap > div > img:hover {
    filter: brightness(95%) contrast(135%);
}

.posts-wrap > div > h3 {
    font-size: 1.3em;
    text-align: center;
    padding-left: 0.4em;
}

.posts-wrap > div > p {
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    padding: 1em;
    text-transform: capitalize;
}

.read-container, .all-posts  {
    width: fit-content;
    background: hsl(337, 13%, 27%);
    border-radius: 12px;
    margin-bottom: 3em;
    position: relative;
    left: 28%;
}

.read-container > a, .all-posts > a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    padding: 1.1em;
    border-radius: inherit;
    background: hsl(353, 5%, 71%);
    transition: 0.4s ease-in-out;
    transform: translate(-4px, -5px);
    text-shadow: 0px 0px 1px rgb(111, 105, 105);
}

.all-posts > a {
    font-size: 1.2em;
    padding: 1.4em;
}

.all-posts {
    margin-top: 3em;
    left: 44.5%;
}

.all-posts > a:hover, .read-container > a:hover {
    transform: translate(-4%, -12%);
    filter: saturate(180%);
}