/*services container*/

.services {
    margin-bottom: 15em;
}

.services > .service-container {
    display: flex;
    margin-top: 2em;
    justify-content:center;
}

/*service headers and buttons text*/

.services > h1, .service-button > a, .service-container > * > h2 {
    text-transform: uppercase;
    color: #1d071989;
    font-weight: 400;
    letter-spacing: 2.2px;
    word-spacing: 1.2px;
    text-shadow: 0px 1px 1px rgba(99, 99, 99, 0.7);
}

.services > h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.service-container > * > h2 {
    text-align: center;
    font-size: 1.8em;
}

.services > hr {
    width: 15em;
    margin-bottom: 3em;
}

.service-container > * {
    margin-right: 5.5em;
}

/*service images*/

.color {
    margin-left: 5.5em;
}

.service-container > * > img {
    width: 20em;
    height: 20em;
    -webkit-box-shadow: -4px 6px 44px 8px rgba(143,143,143,0.79);
    -moz-box-shadow: -4px 6px 44px 8px rgba(143,143,143,0.79);
    box-shadow: -4px 6px 44px 8px rgba(143,143,143,0.79);
    transition: 0.3s ease-in-out;
}

.service-container > * > img:hover {
    filter: brightness(90%) contrast(120%);
    transform: translateY(-1em);
}

/*service buttons*/

.service-button {
    background: hsl(337, 13%, 27%);
    border-radius: 12px;
    border: none;
    padding: 0;
    position: relative;
    left: 25.7%;
}

.service-button > a {
    background: hsl(353, 5%, 71%);
    display: block;
    text-decoration: none;
    font-size: 1.6em;
    padding: 0.7em 2em;
    border-radius: 12px;
    transition: 0.4s ease-in-out;
    transform: translate(-4px, -4px);
}

.service-button > a:hover {
    transform: translate(-4%, -12%);
    filter: saturate(180%);
}