.services {
    margin-bottom: 15em;
}

.services > .service-container {
    display: flex;
    margin-top: 2em;
    justify-content:center;
}

.services > h1 {
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #1d071989;
    font-weight: 600;
    letter-spacing: 2.2px;
    word-spacing: 1.2px;
    margin-bottom: 0.5em;
}

.services > hr {
    width: 15em;
    margin-bottom: 3em;
}

.service-container > * {
    margin-right: 5.5em;
}

.service-container > * > img {
    width: 20em;
    height: 20em;
}

.service-container > * > h2 {
    text-align: center;
    color: #1d071989;
    font-size: 1.8em;
    text-transform: uppercase;
}

.service-container > * > button {
    width: 6.8em;
    font-size: 1.3em;
    text-transform: uppercase;
    background-color: black;
    border-radius: 3%;
    position: relative;
    left: 28%;
}

.service-container > * > button > a {
    display: block;
    text-decoration: none;
    font-size: 1em;
    color: #ede7e7;
    padding: 1em;
}

.color {
    margin-left: 5.5em;
}