@import "/stylesheet/header.css";
@import "/stylesheet/open_section.css";
@import "/stylesheet/services_section.css";
@import "/stylesheet/about_us_section.css";
@import "/stylesheet/recent_posted_section.css";
@import "/stylesheet/booking_section.css";
@import "/stylesheet/footer.css";
@import "/stylesheet/newsletter_section.css";

@font-face {
    font-family: 'BookmanOldStyle';
    src: url('/stylesheet/Bookman_Old_Style_Font/Bookman\ Old\ Style\ Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 200px;
    font-family: 'BookmanOldStyle', serif;
    background-color: rgb(236, 238, 240);
    cursor: default;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

@media (max-width: 980px) {
    main {
        gap: 4em;
    }
}